* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v294_2406 {
  width: 100%;
  height: 3280px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v294_2739 {
  width: 100%;
  height: 305px;
  background: rgba(69,68,76,1);
  opacity: 1;
  position: absolute;
  top: 2975px;
  left: 17px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v311_1942 {
  width: 269px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3008px;
  left: 1171px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v303_1915 {
  width: 269px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3008px;
  left: 878px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v303_1913 {
  width: 269px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3008px;
  left: 549px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v294_2407 {
  width: 985px;
  color: url("../images/v294_2407.png");
  position: absolute;
  top: 586px;
  left: 231px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v294_2735 {
  width: 674px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 761px;
  left: 747px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v294_2737 {
  width: 565px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 886px;
  left: 800px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v311_1932 {
  width: 565px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 508px;
  left: 438px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v294_2422 {
  width: 216px;
  color: rgba(105,62,254,1);
  position: absolute;
  top: 30px;
  left: 61px;
  font-family: Rethink Sans;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v311_1936 {
  width: 146px;
  color: rgba(217,212,255,1);
  position: absolute;
  top: 3071px;
  left: 52px;
  font-family: Rethink Sans;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v294_2630 {
  width: 525px;
  color: rgba(105,62,254,1);
  position: absolute;
  top: 401px;
  left: 458px;
  font-family: Rethink Sans;
  font-weight: Bold;
  font-size: 128px;
  opacity: 1;
  text-align: center;
}
.v294_2423 {
  width: 97px;
  color: rgba(139,138,146,1);
  position: absolute;
  top: 60px;
  left: 359px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v294_2424 {
  width: 120px;
  color: rgba(139,138,146,1);
  position: absolute;
  top: 60px;
  left: 493px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v294_2425 {
  width: 204px;
  color: rgba(139,138,146,1);
  position: absolute;
  top: 62px;
  left: 827px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v294_2428 {
  width: 115px;
  color: rgba(139,138,146,1);
  position: absolute;
  top: 60px;
  left: 658px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v294_2728 {
  width: 815px;
  color: rgba(168,173,181,1);
  position: absolute;
  top: 3192px;
  left: 313px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v311_1962 {
  width: 100%;
  height: 337px;
  background: url("../images/v311_1962.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1986px;
  left: 520px;
  overflow: hidden;
}
.v300_2747 {
  width: 674px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 2px;
  left: 20px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v300_2763 {
  width: 674px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 205px;
  left: 367px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v300_2749 {
  width: 325px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 63px;
  left: 191px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v300_2758 {
  width: 674px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 207px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v300_2761 {
  width: 325px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 259px;
  left: 179px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v300_2765 {
  width: 325px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 257px;
  left: 542px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v300_2751 {
  width: 674px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 0px;
  left: 387px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v300_2752 {
  width: 325px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 61px;
  left: 558px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v294_2733 {
  width: 757px;
  height: 527px;
  background: url("../images/v294_2733.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 677px;
  left: 32px;
  overflow: hidden;
}
.v294_2741 {
  width: 433px;
  height: 59px;
  background: url("../images/v294_2741.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1060px;
  left: 866px;
  overflow: hidden;
}
.v294_2742 {
  width: 433px;
  height: 59px;
  background: rgba(105,62,254,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v294_2743 {
  width: 433px;
  height: 59px;
  background: rgba(105,62,254,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v294_2744 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 81px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v311_1970 {
  width: 169px;
  height: 58px;
  background: url("../images/v311_1970.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 1057px;
  overflow: hidden;
}
.v311_1971 {
  width: 166px;
  height: 58px;
  background: rgba(105,62,254,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v311_1972 {
  width: 150px;
  height: 58px;
  background: rgba(105,62,254,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v311_1973 {
  width: 169px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v311_1975 {
  width: 169px;
  height: 58px;
  background: url("../images/v311_1975.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 1240px;
  overflow: hidden;
}
.v311_1976 {
  width: 166px;
  height: 58px;
  background: rgba(105,62,254,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v311_1977 {
  width: 150px;
  height: 58px;
  background: rgba(105,62,254,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v311_1978 {
  width: 169px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v311_1960 {
  width: 100%;
  height: 718px;
  background: url("../images/v311_1960.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1204px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v294_2659 {
  width: 674px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 46px;
  left: 410px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v294_2661 {
  width: 267px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 169px;
  left: 196px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v294_2663 {
  width: 292px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 168px;
  left: 659px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v300_2799 {
  width: 292px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 168px;
  left: 1101px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v300_2791 {
  width: 325px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 446px;
  left: 672px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v294_2665 {
  width: 325px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 446px;
  left: 198px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v294_2667 {
  width: 325px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 446px;
  left: 1117px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v294_2718 {
  width: 433px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 264px;
  left: 61px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v294_2722 {
  width: 404px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 256px;
  left: 1001px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v300_2797 {
  width: 404px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 264px;
  left: 547px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v294_2724 {
  width: 381px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 545px;
  left: 70px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v300_2793 {
  width: 406px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 545px;
  left: 554px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v300_2795 {
  width: 386px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 545px;
  left: 1006px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v303_1917 {
  width: 241px;
  color: rgba(168,173,181,1);
  position: absolute;
  top: 3084px;
  left: 257px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v307_1919 {
  width: 325px;
  color: rgba(168,173,181,1);
  position: absolute;
  top: 3057px;
  left: 877px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v307_1921 {
  width: 325px;
  color: rgba(168,173,181,1);
  position: absolute;
  top: 3071px;
  left: 552px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v311_1934 {
  width: 100%;
  height: 606px;
  background: rgba(126,122,247,1);
  opacity: 1;
  position: absolute;
  top: 2375px;
  left: 17px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v311_1958 {
  width: 542px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2652px;
  left: 75px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v309_1929 {
  width: 100%;
  height: 612px;
  background: url("../images/v309_1929.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2372px;
  left: 346px;
  overflow: hidden;
}
.v311_1950 {
  width: 234px;
  height: 77px;
  background: url("../images/v311_1950.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3080px;
  left: 1169px;
  overflow: hidden;
}
.v311_1956 {
  width: 236px;
  height: 83px;
  background: url("../images/v311_1956.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3172px;
  left: 1169px;
  overflow: hidden;
}
.v311_1963 {
  width: 674px;
  height: 75px;
  background: url("../images/v311_1963.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2117px;
  left: 30px;
  overflow: hidden;
}
.v300_2767 {
  width: 674px;
  color: rgba(69,68,76,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v311_1965 {
  width: 674px;
  height: 75px;
  background: url("../images/v311_1965.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2465px;
  left: 18px;
  overflow: hidden;
}
.v309_1930 {
  width: 674px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v303_1911 {
  width: 269px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3008px;
  left: 256px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
